<h2 id="incident-tracking">Incident Tracking</h2>
<p>This section captures general information about the incident. The main purpose is allow organizations to identify, store, and retrieve incidents over time.</p>
<div class="form-group">
    <label>Confirmed Incident</label>
    <select name="security_incident" class="form-control" required>
        <option value="" selected disabled>-- Please Select --</option>
        <option value="Confirmed">Confirmed</option>
        <option value="Suspected">Suspected</option>
        <option value="False positive">False positive</option>
        <option value="Near miss">Near miss</option>
    </select>
</div>
<div class="form-group">
    <label>Incident Summary</label>
    <textarea name="summary" class="form-control" placeholder="what happened?"></textarea>
</div>
<h3>Important Dates</h3>
<h4>Initial Compromise</h4>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Year</label>
      <input name="compromise_year" type="number" value="{{ current_year }}" class="form-control" required>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Month</label>
      <input name="compromise_month" type="number" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Day</label>
      <input name="compromise_day" type="number" class="form-control">
    </div>
  </div>
</div>

<h4>Discovery/Investigation</h4>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Year</label>
      <input name="discovery_year" type="number" value="{{ current_year }}" class="form-control" required>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Month</label>
      <input name="discovery_month" type="number" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Day</label>
      <input name="discovery_day" type="number" class="form-control">
    </div>
  </div>
</div>

<h4>Notication/Disclosure</h4>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Year</label>
      <input name="disclosure_year" type="number" value="{{ current_year }}" class="form-control" required>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Month</label>
      <input name="disclosure_month" type="number" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Day</label>
      <input name="disclosure_day" type="number" class="form-control">
    </div>
  </div>
</div>

<h3>Source Material</h3>
<div id="source-material">
    <input type="hidden" id="source_count" name="source_count" value="1">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Source URL</label>
                <input name="1_source_url" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Date Retrieved</label>
              <input name="1_source_retrieved" type="date" value="{{ current_year }}{{ current_month }}{{ current_day }}" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <button type="button" id="btn-add-source" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add another source</button>
</div>
<div class="form-group">
    <label>General notes</label>
    <textarea name="notes" class="form-control"></textarea>
</div>
