<h2 id="timeline">Timeline of events</h2>
<h4>Time to compromise</h3>
<div class="row">
    <div class="col-md-6">
        <select name="compromise_time_unit" class="form-control">
            <option value="" selected disabled>-- Please Select --</option>
            <option value="NA">Not applicable</option>
            <option value="Seconds">Seconds</option>
            <option value="Minutes">Minutes</option>
            <option value="Hours">Hours</option>
            <option value="Days">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
            <option value="Years">Years</option>
            <option value="Never">Never</option>
        </select>
    </div>
    <div class="col-md-6">
        <input name="compromise_time_value" class="form-control">
    </div>
</div>
<h4>Time to exfiltration</h3>
<div class="row">
    <div class="col-md-6">
        <select name="exfiltration_time_unit" class="form-control">
            <option value="" selected disabled>-- Please Select --</option>
            <option value="NA">Not applicable</option>
            <option value="Seconds">Seconds</option>
            <option value="Minutes">Minutes</option>
            <option value="Hours">Hours</option>
            <option value="Days">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
            <option value="Years">Years</option>
            <option value="Never">Never</option>
        </select>
    </div>
    <div class="col-md-6">
        <input name="exfiltration_time_value" class="form-control">
    </div>
</div>
<h4>Time to discovery</h3>
<div class="row">
    <div class="col-md-6">
        <select name="discovery_time_unit" class="form-control">
            <option value="" selected disabled>-- Please Select --</option>
            <option value="NA">Not applicable</option>
            <option value="Seconds">Seconds</option>
            <option value="Minutes">Minutes</option>
            <option value="Hours">Hours</option>
            <option value="Days">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
            <option value="Years">Years</option>
            <option value="Never">Never</option>
        </select>
    </div>
    <div class="col-md-6">
        <input name="discovery_time_value" class="form-control">
    </div>
</div>
<h4>Time to containment</h3>
<div class="row">
    <div class="col-md-6">
        <select name="containment_time_unit" class="form-control">
            <option value="" selected disabled>-- Please Select --</option>
            <option value="NA">Not applicable</option>
            <option value="Seconds">Seconds</option>
            <option value="Minutes">Minutes</option>
            <option value="Hours">Hours</option>
            <option value="Days">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
            <option value="Years">Years</option>
            <option value="Never">Never</option>
        </select>
    </div>
    <div class="col-md-6">
        <input name="containment_time_value" class="form-control">
    </div>
</div>
