{% extends 'init.html' %}

{% block form_nav_links %}
  <li><a href="#incident-tracking">Incident Tracking</a></li>
  <li><a href="#vic-demographics">Victim Demographics</a></li>
  <li><a href="#theft">Theft and Tampering</a></li>
  <li><a href="#confidentiality">Confidentiality</a></li>
  <li><a href="#integrity">Integrity</a></li>
  <li><a href="#availability">Availability</a></li>
  <li><a href="#timeline">Timeline</a></li>
  <li><a href="#discovery_method">Discovery Method</a></li>
{% endblock %}

{% block content %}
      <form action="theft_physical" method="POST">

        {% include 'partials/incident_tracking.html' %}
        {% include 'partials/vic_demographics.html' %}

        <h2 id="theft">Theft and Tampering</h2>
        {% set exclude_actors = ['e_Force_majeure'] %}
        {% include 'partials/actor_short.html' %}
        {% set exclude_motives = ['NA'] %}
        {% include 'partials/actor_motive.html' %}
        {% include 'partials/physical_location.html' %}
        {% set asset_groups = ['media','user'] %}
        {% include 'partials/asset_list.html' %}


        {% include 'partials/confidentiality.html' %}
        {% include 'partials/integrity.html' %}
        {% include 'partials/availability.html' %}
        {% include 'partials/timeline.html' %}
        {% include 'partials/discovery_method.html' %}
        <input type="submit" value="Submit now" />
      </form>
 
{% endblock %}
